body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
    margin: 0;
  }

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}
h1{
    line-height: 1.5em;
    font-size: 40px;
    letter-spacing: -.2px;    
    color: white;
    margin: 0;
}
h1 strong {
    color: #000000;
}
.portfolio {
    background: #fafafa;
    padding: 20px;

}
.project {
    border: 1px solid gray;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project strong {
    font-family: 'Fjalla One', sans-serif;
}
.project-description {
    font-size: 20px;
}
.project-type, 
.project-date,
.project-url{
    margin: 10px 0;
}

.project-title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}
h2 {
    color: #1d6886;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}
.project-details {
    width: 500px;

}
.project-imageContainer {
    width: 500px;
    position: 500px;
   
}

.header {
    background-color: #1f9ac6;
    color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 70px;
   flex-wrap: wrap;
}


.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;

}
.hero {
    height: 300px;
    justify-content: space-between;
    background-color: #1f9ac6 ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.hero-image {
    object-fit: cover;
}
.header ol {
    display: flex;
    height: inherit;
  }
.header ol li {
    height: inherit;
}
  .menu {
      height: inherit;
  }
.footer{
    background-color: #2c2f33;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer img{
    vertical-align: middle;
}
.footer a {
    color: white;
}
.logo {
    align-items: center;
}
.event-list{
    display:flex;
    flex-wrap: wrap;
}
.event {
   
    margin: 10px;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
  
    background-color: #f4fbff;

}
.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.event-detail{
    margin:20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-list-title{
    margin-left: 20px;
}
.contact {
    background-color: #1f9ac6;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
    
}


.form-email input {
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url('/home/yanina/ProyectoHtml/img/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}
.form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
  
}
.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}
.container {
    
    max-width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    flex: 1;
}
@media screen and (max-width: 1024px){
  
}
@media screen and (max-width: 767px) {
	.header {
        display: block;
        height: auto;

    }
    .header ol {
        display: block;
    }
    .header ol li {
        height: 50px;
        
    }
    .header a {
        justify-content: center;
    }
    .header .logo {
        text-align: center;
    }

}
@media screen and (max-width: 480px){
    
}

@media screen and (max-width: 320px){
    
}